* {
  /* cursor: url('https://res.cloudinary.com/eloise/image/upload/v1579536849/caleb-henderson/caleb-cursor-transp.png'),auto; */
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fade-in 3s;
}

.img-container {
  display: flex;
  flex-grow: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}