* {
  /* cursor: url('https://res.cloudinary.com/eloise/image/upload/v1579536849/caleb-henderson/caleb-cursor-transp.png'),auto; */
  overflow: auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-container {
  display: flex;
  flex-grow: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}
