.contact-container h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 1rem;
  color: rgb(79,74,71);
}

.desktop-contact {
  display: none;
}

/******* TABLET / DESKTOP **********/
@media screen and (min-width: 769px) { 
  .mobile-contact {
    display: none;
  }

  .desktop-contact {
    display: block;
  }
}

