.contact-container {
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 0;
}

.contact-container h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
  color: rgb(79,74,71);
}

.desktop-contact {
  display: none;
}

/******* TABLET / DESKTOP **********/
@media screen and (min-width: 769px) { 
  .mobile-contact {
    display: none;
  }

  .desktop-contact {
    display: block;
    cursor: pointer;
  }
}