.title h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  color: rgb(79,74,71);
}

/******* TABLET / DESKTOP **********/
@media screen and (min-width: 769px) {
  .title h1 {
    color: #FFFFFF;
  }
}